.button {
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.25s ease;
  width: 100%;
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}

.primary {
  background-color: var(--primary);
  color: var(--text-light);
}

.primary:hover,
.primary:focus-visible {
  background-color: var(--primary-btn-hover);
}

.secondary {
  background-color: transparent;
  border: 3px solid rgb(var(--border-color-rgb));
  color: var(--text-main);
}

.secondary:hover,
.secondary:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.1);
  border-color: var(--primary);
  color: var(--primary);
}
