.button {
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease;
  border: 3px solid transparent;

  /* TODO: Loader */
  /* position: relative;
  
  min-height: 40px;
  overflow: hidden;
  outline: none; */
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.primary {
  background-color: var(--primary);
  color: var(--text-light);
}

.primary:hover:not(:disabled),
.primary:focus-visible {
  background-color: var(--primary-btn-hover);
}

.primary:disabled {
  cursor: default;
}

.secondary {
  background-color: var(--bg-main);
  border: 3px solid rgb(var(--border-color-rgb));
  color: var(--text-main);
}

.secondary:hover:not(:disabled),
.secondary:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.3);
  border-color: var(--primary);
  color: var(--primary);
}

.secondary:disabled {
  cursor: default;
}

.ghost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: transparent;
  color: var(--text-secondary);
  border-left: 3px solid transparent;
  text-align: left;
  border-radius: 6px;
  font-weight: 400;
  width: 100%;
  font-size: 18px;
}

.ghost:hover:not(:disabled),
.ghost:focus-visible {
  background-color: rgba(var(--primary-light-rgb), 0.1);
  color: var(--text-primary);
  border-left-color: var(--primary);
}

.ghost .icon {
  font-size: 16px;
  opacity: 0;
  transform: translateX(-10px);
}

.ghost:hover .icon,
.ghost:focus-visible .icon {
  opacity: 1;
  transform: translateX(0);
  color: var(--primary);
}

@media (min-width: 1280px) {
  .ghost.active {
    background-color: rgba(var(--primary-light-rgb), 0.1);
    color: var(--text-primary);
    border-left-color: var(--primary);
  }
}

.link-accent {
  color: var(--primary);
  padding: 0;
  width: auto;
}

.link-accent:hover:not(:disabled),
.link-accent:focus-visible {
  color: rgb(var(--primary-light-rgb));
  padding: 0;
}

.link-muted {
  padding: 0;
  font-weight: 400;
}

.link-button-muted {
  background: none;
  border: none;
  padding: 0;
  width: auto;
  color: var(--text-primary);
  font-weight: 400;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-alt);
  cursor: pointer;
  padding: 0;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.dot:hover {
  transform: scale(1.2);
}

.active.dot {
  background-color: var(--primary);
  width: 14px;
  height: 14px;
}

.inputBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: var(--text-muted);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 4px;
  width: auto;
}

.inputBtn:hover {
  color: var(--primary);
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: -12px;
  background: transparent;
  border: none;
  color: var(--primary);
  font-size: 26px;
  cursor: pointer;
  width: auto;
}

@media (min-width: 1280px) {
  .closeBtn {
    top: 12px;
    right: 0px;
    font-size: 36px;
  }
}

.closeBtn:hover {
  color: rgb(var(--primary-light-rgb));
}

.tripCardBtn {
  background: transparent;
  border: none;
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.tripCardBtn:hover {
  color: rgb(var(--primary-light-rgb));
}

.burgerBtn {
  background: transparent;
  border: none;
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  width: auto;
  padding: 0;
}

@media (min-width: 1280px) {
  .burgerBtn {
    display: none;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;

  border: 1px solid rgb(var(--border-color-rgb));
  background-color: transparent;
  color: var(--text-main);
  font-weight: 400;

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.tag:not(.disabled):hover {
  color: var(--primary);
  background-color: rgba(var(--primary-light-rgb), 0.05);
}

.tag.active {
  color: var(--primary);
  background-color: rgba(var(--primary-light-rgb), 0.05);
}

.tag.active:not(.disabled):hover {
  border-color: var(--primary);
}

.tag.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.createCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  min-height: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--bg-main);
  border: 3px dashed rgb(var(--border-color-rgb));
  color: var(--text-main);
}

.createCard:not(.disabled):hover,
.createCard:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.3);
  border-color: var(--primary);
  color: var(--primary);
}

.removeSubscriptionBtn {
  background-color: var(--bg-main);
  border: 3px solid rgb(var(--border-color-rgb));
  color: var(--text-main);
  font-size: 0.8rem;
  padding: 4px 8px;
}

.removeSubscriptionBtn:hover:not(:disabled),
.removeSubscriptionBtn:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.3);
  border-color: var(--primary);
  color: var(--primary);
}

/* TODO: Loader */

/* .loading {
  cursor: wait;
  pointer-events: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1;
}

.loaderWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  min-height: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--bg-main);
  border: 3px dashed rgb(var(--border-color-rgb));
  color: var(--text-main);
}

.createCard:not(.disabled):hover,
.createCard:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.3);
  border-color: var(--primary);
  color: var(--primary);
}

.removeSubscriptionBtn {
  background-color: var(--bg-main);
  border: 3px solid rgb(var(--border-color-rgb));
  color: var(--text-main);
  font-size: 0.8rem;
  padding: 4px 8px;
}

.removeSubscriptionBtn:hover:not(:disabled),
.removeSubscriptionBtn:focus-visible {
  background-color: rgba(var(--border-color-rgb), 0.3);
  border-color: var(--primary);
  color: var(--primary);
}
*/
