.navList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.subscriptionWrapper {
  border: 1px solid var(--primary);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
