.list {
  display: grid;
  gap: 36px;
}

@media (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dotsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}
