:root {
  --primary: #14b8a6;
  --primary-light-rgb: 45, 212, 191;
  --primary-btn-hover: #14b8a58e;
  --blobs-rgb: 20, 184, 166;
  --secondary: #134e4a;
  --bg-main: #0f172a;
  --bg-alt: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --border-color-rgb: 51, 65, 85;
  --form-shadow: 138, 164, 157;
  --blob-strong: 0.5;
  --blob-medium: 0.25;
  --blob-soft: 0.18;
  --overlay-color: #10100f99;
  --accent-color: #cfc624;
  --firebug-background: #000000;
  --red-color: #ef4444;
  --orange-color: #f59e0b;
  --green-color: #10b981;
  --switcher-dot: #fff;
}

[data-theme="light"] {
  --primary: #377c55;
  --primary-light-rgb: 57, 137, 93;
  --primary-btn-hover: #4b986ce5;
  --blobs-rgb: 0, 120, 105;
  --secondary: #ecfdf5;
  --bg-main: #ffffff;
  --bg-alt: #f8fafc;
  --text-main: #0e0f10;
  --text-muted: #242e38;
  --text-light: #f8fafc;
  --border-color-rgb: 210, 216, 225;
  --form-shadow: 23, 59, 23;
  --overlay-color: #10100f40;
  --accent-color: #cfc624;
  --firebug-background: #000000;
  --red-color: #ef4444;
  --orange-color: #f59e0b;
  --green-color: #10b981;
  --switcher-dot: #fff;
}
