.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
}

[data-theme="light"] .image {
  filter: brightness(0.8) contrast(0.7) opacity(0.4);
}

.textWrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.code {
  color: var(--primary);
}
