.contentWrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .contentWrapper {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
}

.figure {
  position: relative;
  margin-bottom: 32px;
}

@media (min-width: 1280px) {
  .figure {
    margin-bottom: 0px;
  }
}

.imageWrapper {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-color);
  z-index: 1;
}

.figcaption {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.quote {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 1.2rem;
  max-width: 70%;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 1280px) {
  .quote {
    font-size: 2rem;
  }
}

[data-theme="light"] .quote {
  color: var(--text-light);
}

.quote::before {
  content: '"';
}

.quote::after {
  content: '"';
}

.firebug {
  position: absolute;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  background: var(--accent-color);
  opacity: 0.7;

  animation-name: move;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.firebug::before,
.firebug::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center;
}

.firebug::before {
  background: var(--firebug-background);
  opacity: 0.4;
  animation: drift 20s linear infinite alternate;
}

.firebug::after {
  background: var(--accent-color);
  opacity: 0;
  box-shadow: 0 0 0 0 var(--accent-color);
  animation: drift 20s linear infinite alternate, flash 6s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(var(--scale, 1));
  }
  100% {
    transform: translate(var(--x, 0), var(--y, 0)) scale(var(--scale, 1));
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0 0 var(--accent-color);
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw var(--accent-color);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  display: grid;
  gap: 36px;
}

@media (min-width: 1280px) {
  .list {
    margin-bottom: 0px;
  }
}
